.todo-container h1{
  color:red;
  font-size: 45px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}
.todo-container{
  text-align: left;
}
.todo-container input{
  width: 100%;
}
.item-containers{
  text-align: left;
}
.kg-row{
  margin: 10px 5px;
}
.kg-btn{
  min-width:75px ;
}